.game {
  -webkit-animation: FADE-IN 1s forwards; /* Safari 4+ */
  -moz-animation:    FADE-IN 1s forwards; /* Fx 5+ */
  -o-animation:      FADE-IN 1s forwards; /* Opera 12+ */
  animation:         FADE-IN 1s forwards; /* IE 10+, Fx 29+ */
}
