.game-settings {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.4s ease-out;
  background-color: rgba(0, 0, 0, 0);
  z-index: 2;

  &.show {
    background-color: rgba(0, 0, 0, 0.4);

    form {
      top: 0%;
    }
  }

  &.hide {
    display: none;
  }

  form {
    position: relative;
    top: 100%;
    left: 0;
    width: 100%;
    max-width: 600px;
    background-color: #f5f5f5;
    margin: 0 auto;
    text-align: center;
    display: table;
    overflow: auto;
    transition: all 0.4s ease-out;
  }

  h3 {
    background-color: #fff;
    padding: 10px 10px;
    margin: 0;
    color: #ccc;

    @include tablet {
      padding: 30px 10px 20px;
    }

    @include desktop {
      padding: 30px 10px 20px;
    }
  }

  &__game,
  &__best-of,
  &__view__verses,
  &__submit {
    display: table;
    width: 100%;
  }

  &__best-of {
    width: 100%;
    ul {
      li {
        width: 33.3333%;
        float: left;
      }
    }
  }

  &__submit {
    width: 100%;
    background-color: #fff;
    padding-top: 50px;

    button {
      padding: 15px;
      width: 30%;
      background-color: #4a4a4a;
      color: #fff;
      border: 0;
      font-size: 20px;
      -webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
      -moz-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
      box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

      &:hover {
        background-color: #696868;
      }
    }
  }

  ul {
    list-style: none;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  li {
    color: #AAAAAA;
    display: block;
    position: relative;
    float: left;
    width: 100%;

    &:hover label{
      color: #333;

      .check {
        border: 5px solid #FFFFFF;
      }
    }

    input[type=radio]{
      position: absolute;
      visibility: hidden;
    }

    label {
      display: block;
      position: relative;
      font-weight: 300;
      padding: 18px;
      margin: 0 auto;
      z-index: 9;
      cursor: pointer;
      -webkit-transition: all 0.35s linear;
      transition: all 0.35s linear;

      @include tablet {
        @include font(18, 18);
      }
    }
  }

  input[type=radio]:checked ~ .check {
    border: 5px solid #0DFF92;
  }

  input[type=radio]:checked ~ .check::before{
    background: #0DFF92;
  }

  input[type=radio]:checked ~ label {
    background-color: #aac2e0;
    color: black;
    font-weight: 400;
  }
}
