/**
 * Variables
 * @group css.base.variables
 */

// ------------------------------------------------
// Transition Variables
// ------------------------------------------------

$transition-hover-speed: 0.2s;
$transition-hover-easing: ease-out;

// ------------------------------------------------
// Typography Variables
// ------------------------------------------------

$em-base: 10px;
